body {
    text-align: center;
    --bs-body-bg: #383B53;
    --bs-body-color: #D4D6B9;
    --bs-link-color: #D1CAA1;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;

}
.cert img {
    width: 125px;
}
.row {
    padding-top: 10px;
}
.sidebar {

}

.intro {

}

.experience {

}

.education {

}

